<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Affiche la liste des étudiants</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto px-8">
    <h1 class="text-4xl text-center mb-8">Liste des étudiants</h1>
<!--    Ajouter un étudiant -->
    <div class="flex justify-end mb-4">
        <a href="/add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter un étudiant</a>
    </div>
    <table class="table-auto w-full">
        <thead>
        <tr>
            <th class="px-4 py-2">id</th>
            <th class="px-4 py-2">Nom</th>
            <th class="px-4 py-2">Matricule</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Genre</th>
            <th class="px-4 py-2">Téléphone</th>
            <th class="px-4 py-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- boucle thymeleaf 'studentsList' -->
        <tr th:each="student : ${students}">
            <td class="border px-4 py-2" th:text="${student.id}"></td>
            <td class="border px-4 py-2" th:text="${student.name}"></td>
            <td class="border px-4 py-2" th:text="${student.matricule}"></td>
            <td class="border px-4 py-2" th:text="${student.email}"></td>
            <td class="border px-4 py-2" th:text="${student.genre}"></td>
            <td class="border px-4 py-2" th:text="${student.phone}"></td>
            <td class="border px-4 py-2">
                <a href="#" th:href="'/edit/' + ${student.id}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Modifier</a>
                <form class="inline-block" method="post" th:action="'/delete/' + ${student.id}">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Supprimer</button>
                </form>
            </td>
        </tbody>
    </table>
</div>
</body>
</html>